! Fonts


URxvt.font: -*-terminus-medium-*-*-*-18-*-*-*-*-*-*-* 
URxvt.boldFont: -*-terminus-bold-*-*-*-18-*-*-*-*-*-*-* 

!!URxvt.font: -*-profont-*-*-*-*
!!URxvt.boldFont: 9x15bold

!! *reverseVideo: on

!! *foreground: rgb:b2/b2/b2

!! *background: rgb:08/08/08

! Cursor
URxvt.cursorBlink:          true
URxvt.cursorColor:          #657b83
URxvt.cursorUnderline:      false

! Perl extensions
URxvt.perl-ext-common: tabbedex,selection-to-clipboard,fullscreen
URxvt.keysym.F11:  perl:fullscreen:switch

! Scrolling
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.scrollstyle:      plain
URxvt.secondaryScroll:  true


URxvt.imLocale: en_US.UTF-8

URxvt.saveLines:        8192

!! URxvt.colorIT:      #87af5f
!! URxvt.colorBD:      #d7d7d7
!! URxvt.colorUL:      #87afd7


! Solarized color scheme for the X Window System

URxvt.background:              #002b36
URxvt.foreground:              #657b83
URxvt*fading:                  40
URxvt.fadeColor:               #002b36
URxvt.cursorColor:             #93a1a1
*pointerColorBackground:  #586e75
*pointerColorForeground:  #93a1a1

!! black dark/light
*color0:                  #073642
*color8:                  #002b36

!! red dark/light
*color1:                  #dc322f
*color9:                  #cb4b16

!! green dark/light
*color2:                  #859900
*color10:                 #586e75

!! yellow dark/light
*color3:                  #b58900
*color11:                 #657b83

!! blue dark/light
URxvt.color4:                  #268bd2
URxvt.color12:                 #839496

!! magenta dark/light
*color5:                  #d33682
*color13:                 #6c71c4

!! cyan dark/light
*color6:                  #2aa198
*color14:                 #93a1a1

!! white dark/light
*color7:                  #eee8d5
*color15:                 #fdf6e3
